html,body
{
background: #f5f5f5 url(img/bg-content-white.jpg) no-repeat top center;
background-size: cover;
font-family: "Arial Narrow", Arial, sans-serif;
}
#main-body
{
	margin:4rem 5rem;
}

#main
{
	background:rgba(255,  255,  255, 255);
	position: relative;

}
.description
{
	padding-top: 2rem;
}
.company
{
	color: #8e951f;
	font-weight: bold;
}
hr
{
	border-top: 1px solid #8e951f;
}
li
{
	list-style: none;
}
ul
{
	padding:0;
}
.responsibilty
{
 padding-top: 2rem;
}
.col-sm-3.rightpull
{
	position: absolute;
	right: 0;
	top:0;
	background: #adb257;
	padding-right: 0;
	padding-left: 0;
	text-align: center;
	height:100%;
	min-height: 5rem;
	min-width: 15rem;
	line-height: 2rem;
}
.profile
{
	background: #6c7211;
	text-align: center;
	padding-bottom: 2rem;
	line-height: 2rem;
}
.extra-info
{
	padding-top: 2rem;
	color: #ffffff;
	font-size: .9rem;
}
h1,h3,h4,h2
{
		color: #8e951f;
		font-weight: normal;
}
h5,h6
{
	color: #ffffff;
	font-weight: normal;

}
.contact-group a
{
	color: #ffffff;
	font-size: .9rem;
}
img.image-center
{
	padding-bottom: .5rem;
}

.bg-warning.bg-color
{
	background-color: #8e951f !important;			
}
.progress
{
	margin-bottom: .525rem;
}
footer
{
	text-align: center;
		color: #8e951f;

}

/* media queries-- */

 	

   	@media (max-width: 767px) 
	{ 
    
    .col-sm-3.rightpull
	{
        position: static;
        min-width: 100% !important;

    }
   
    }


	 @media (min-width: 767px) /* media width 767 and up */

	{ 
	#main-body
	{
	margin:4rem 6rem;
	}
	.description
	{
		margin-right: 4rem;
	}

	}
	 @media (min-width: 992px)
	 {
		.description
	{
		margin-right: .5rem;
	}
 
	 }
